In [1]:
import pandas as pd
import numpy as np

In [2]:
StatewiseTestingDetails = pd.read_csv('anova_test/StatewiseTestingDetails.csv')

In [3]:
StatewiseTestingDetails.head()

         Date                        State  TotalSamples Negative  Positive
0  2020-04-17  Andaman and Nicobar Islands        1403.0     1210      12.0
1  2020-04-24  Andaman and Nicobar Islands        2679.0      NaN      27.0
2  2020-04-27  Andaman and Nicobar Islands        2848.0      NaN      33.0
3  2020-05-01  Andaman and Nicobar Islands        3754.0      NaN      33.0
4  2020-05-16  Andaman and Nicobar Islands        6677.0      NaN      33.0

In [12]:
for index,row in StatewiseTestingDetails.iterrows():
    print (index)
    print(StatewiseTestingDetails['Positive'][index])
    if index > 4:
        break

0
12.0
1
27.0
2
33.0
3
33.0
4
33.0
5
33.0

In [22]:
StatewiseTestingDetails['State'][StatewiseTestingDetails['Positive']==1].unique()

array(['Arunachal Pradesh', 'Dadra and Nagar Haveli and Daman and Diu',
       'Mizoram', 'Sikkim'], dtype=object)

In [23]:
StatewiseTestingDetails['State'][StatewiseTestingDetails['Positive']==0].unique()

array(['Dadra and Nagar Haveli and Daman and Diu', 'Nagaland', 'Sikkim'],
      dtype=object)

In [25]:
StatewiseTestingDetails.isnull().sum()

Date                0
State               0
TotalSamples        0
Negative         9367
Positive        10674
dtype: int64

In [26]:
population_india_census2011 = pd.read_csv('anova_test/population_india_census2011.csv')

In [27]:
population_india_census2011.head()

,Sno,State / Union Territory,Population,Rural population,Urban population,Area,Density,Gender Ratio
0,1,Uttar Pradesh,199812341,155317278,44495063,"240,928 km2 (93,023 sq mi)","828/km2 (2,140/sq mi)",912
1,2,Maharashtra,112374333,61556074,50818259,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929
2,3,Bihar,104099452,92341436,11758016,"94,163 km2 (36,357 sq mi)","1,102/km2 (2,850/sq mi)",918
3,4,West Bengal,91276115,62183113,29093002,"88,752 km2 (34,267 sq mi)","1,029/km2 (2,670/sq mi)",953
4,5,Madhya Pradesh,72626809,52557404,20069405,"308,245 km2 (119,014 sq mi)",236/km2 (610/sq mi),931

In [28]:
density = population_india_census2011['Density']

In [29]:
density.head()

0      828/km2 (2,140/sq mi)
1        365/km2 (950/sq mi)
2    1,102/km2 (2,850/sq mi)
3    1,029/km2 (2,670/sq mi)
4        236/km2 (610/sq mi)
Name: Density, dtype: object

In [30]:
# <= 300
# 300 < d <= 600
# 600 < d <= 1000
# else

In [45]:
import re

In [54]:
for index,row in density.iteritems():
    d = re.split('\xa0|,',row)
    print(d)

['828/km2', '(2,140/sq', 'mi)']
['365/km2', '(950/sq', 'mi)']
['1,102/km2', '(2,850/sq', 'mi)']
['1,029/km2', '(2,670/sq', 'mi)']
['236/km2', '(610/sq', 'mi)']
['555/km2', '(1,440/sq', 'mi)']
['201/km2', '(520/sq', 'mi)']
['319/km2', '(830/sq', 'mi)']
['308/km2', '(800/sq', 'mi)']
['303/km2', '(780/sq', 'mi)']
['269/km2', '(700/sq', 'mi)']
['312/km2', '(810/sq', 'mi)']
['859/km2', '(2,220/sq', 'mi)']
['414/km2', '(1,070/sq', 'mi)']
['397/km2', '(1,030/sq', 'mi)']
['550/km2', '(1,400/sq', 'mi)']
['189/km2', '(490/sq', 'mi)']
['573/km2', '(1,480/sq', 'mi)']
['189/km2', '(490/sq', 'mi)']
['123/km2', '(320/sq', 'mi)']
['350/km2', '(910/sq', 'mi)']
['132/km2', '(340/sq', 'mi)']
['122/km2', '(320/sq', 'mi)']
['119/km2', '(310/sq', 'mi)']
['394/km2', '(1,020/sq', 'mi)']
['17/km2', '(44/sq', 'mi)']
['52/km2', '(130/sq', 'mi)']
['86/km2', '(220/sq', 'mi)']
['11,297/km2', '(29,260/sq', 'mi)']
['98/km2', '(250/sq', 'mi)']
['2,598/km2', '(6,730/sq', 'mi)']
['9,252/km2', '(23,960/sq', 'mi)']
['970/km2', '(2,500/sq', 'mi)']
['46/km2', '(120/sq', 'mi)']
['2.8/km2', '(7.3/sq', 'mi)']
['2,013/km2', '(5,210/sq', 'mi)']