In [9]:
import pandas as pd
import numpy as np

In [2]:
toy = pd.DataFrame({"feat_missing":[0,0,1,0,1,0],"feat_cat1":[1,0,0,0,0,0],"feat_cat2":[0,0,0,0,0,1],
                   "feat_cat3":[0,0,0,1,0,0],"extra":[2,3,4,5,6,7]})
toy

   feat_missing  feat_cat1  feat_cat2  feat_cat3  extra
0             0          1          0          0      2
1             0          0          0          0      3
2             1          0          0          0      4
3             0          0          0          1      5
4             1          0          0          0      6
5             0          0          1          0      7

In [3]:
feat="feat"
miss = "missing"

In [6]:
cat = ["feat_missing","feat_cat1","feat_cat2","feat_cat3"]

In [7]:
cat.remove(feat+"_"+miss)
cat

['feat_cat1', 'feat_cat2', 'feat_cat3']

In [10]:
toy.loc[toy[feat+"_"+miss]==1,cat] = np.nan

In [11]:
toy

   feat_missing  feat_cat1  feat_cat2  feat_cat3  extra
0             0        1.0        0.0        0.0      2
1             0        0.0        0.0        0.0      3
2             1        NaN        NaN        NaN      4
3             0        0.0        0.0        1.0      5
4             1        NaN        NaN        NaN      6
5             0        0.0        1.0        0.0      7

In [12]:
toy.drop(feat+"_"+miss,inplace=True,axis=1)

In [13]:
toy

   feat_cat1  feat_cat2  feat_cat3  extra
0        1.0        0.0        0.0      2
1        0.0        0.0        0.0      3
2        NaN        NaN        NaN      4
3        0.0        0.0        1.0      5
4        NaN        NaN        NaN      6
5        0.0        1.0        0.0      7